body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
    padding: 0;

    color: #909090;
}

.heading {
    overflow: hidden;
    
    background-image: url(../res/AboutUsBG.jpg);
    background-size: cover;
    background-position: 0%;
    height: 15vw;
    max-height: 300px;

    transition: 1s all;
}

.headTitle {
    position: relative;
    top: 30%;
    transform: translateY(-10%);
   
    font-size: 4vw;

    text-align: center;
    color: white;
    text-shadow: 0px 0px 10px black;
    transition: 1s all;
}

.title {
    color: aliceblue;
    text-shadow: 0px 0px 10px black;
}

.partition {
    border: 2px #505050 solid;

    padding: 100px;
}

.partitionText {
    font-size: 20px;
}

.toolbar {
    display: flex;
    height: 50px;

    background-color: aliceblue;
    justify-content: center;
    
    transition: 1s all;
}
.toolbar div {
    line-height: 50px;
    padding: 0px 10px;
    
    transition: 1s all;
}
.toolbar div:hover {
    background-color: #E1E9F1;
    padding: 5px;
    transition: .5s all;
}
.toolbar a { 
    padding: 15px 10px;
    text-decoration: none;
}
.toolbar a:active {
    text-decoration: none;
    color: inherit;
}

.container {
    display: flex;
    padding: 100px 0px;
}

.footer {
    display: flex;
    background-color: #4E4E4E;
}

@media only screen and (min-width: 1000px) {
    .headTitle {
        font-size: 50px;
    }
}

@media screen and (max-width: 1500px) {
    .partition {
        padding: 5vw;
    }
}