body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
    padding: 0;

    color: #909090;
}
body a {
    color: cadetblue;
}

#heading {
    overflow: hidden;

    background-image: url(../res/AboutUsBG.jpg);
    background-size: 130%;
    background-repeat: repeat;
    background-position: center;
    height: 15vw;
    max-height: 300px;

    transition: 0.1s all;
}
#heading h1 {filter: blur(0px);}

.headTitle {
    position: relative;
    top: 30%;
    transform: translateY(-10%);
   
    font-size: 4vw;

    text-align: center;
    color: white;
    text-shadow: 0px 0px 10px black;
    transition: 1s all;
}

.title {
    color: aliceblue;
    text-shadow: 0px 0px 10px black;
}

.container {
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;

    border: 1px #D9D9D9 solid;
}
.container div {
    /* border: 1px black solid; */
    width: 300px;
}
.container p {
    font-size: 25px;
}
.container h1 {
    color: wheat;
    text-shadow: 0px 0px 10px black;
}

.toolbar {
    display: flex;
    height: 50px;

    background-color: aliceblue;
    justify-content: center;
    
    transition: 1s all;
}
.toolbar div {
    line-height: 50px;
    padding: 0px 10px;
    
    transition: 1s all;
}
.toolbar div:hover {
    background-color: #E1E9F1;
    padding: 5px;
    transition: .5s all;
}
.toolbar a { 
    padding: 15px 10px;
    text-decoration: none;
}
.toolbar a:active {
    text-decoration: none;
    color: inherit;
}

.container {
    display: flex;
    padding: 100px 0px;
}

.footer {
    background-color: #4E4E4E;
    font-size: 20px;
    text-align: center;
    list-style: none;
}
.footer a { 
    color: bisque;
    text-decoration: none;
}
.footer li :hover{
    color: cadetblue;
    transition: all .5s;
}

@media only screen and (min-width: 1000px) {
    .headTitle {
        font-size: 50px;
    }
}

@media screen and (max-width: 1500px) {
    .partition {
        padding: 5vw;
    }
}